@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// general
.btn-rounded, .input-rounded {
    border-radius: 23px;
}

body {
    
    main {

        position: relative;
        z-index: 20;
        margin-top: -40px;
        margin-bottom: -40px;
        #content {
            background-color: white;
        }

    }
    
}

// Header
#header{
    background:url('../assets/bck-ground-two.png');
    background-size: cover;
    height: 35vh;
}

#boards {

    hr {
        background: linear-gradient(90deg, $primary 0%, rgba(70,104,220,1) 100%);
        height: 2px;
        border-radius: 2px;
    }


}

//Last active user 
#last-active-user {
    margin: 2em 1em;
}

.user-card {
    padding: 1em;
}

.user-list-item__gravatar {
    width: 5em;
    height: auto;
}

.user-list-item__name, .user-list-item__sign {
    font-size: 0.9em;
}

.user-list-item__sign {
    color: rgb(106, 107, 110);
}

// Topics
#topics a {
    color: rgb(41, 43, 48);
}

#topics a:hover {
    color: $primary;
    text-decoration: none;
}

.gradient-header {
    padding: 1em;
    border-radius: 0.8em 0.8em 0em 0em;
    background: linear-gradient(90deg, $primary 0%, rgba(70,104,220,1) 100%);
    color: seashell;
}

<<<<<<< HEAD
// FOOTER
footer {
    z-index: 5;
=======
.topic-list-item, .ann-list-item {
    padding: 1em 0em;
>>>>>>> dev
}

.btn-and-search {
    margin: 3em 1em;
}

.topic-details, .ann-details {
    color: rgb(106, 107, 110);
}

// FOOTER

#social-media {
    height: 10em;
    background: linear-gradient(90deg, $primary 0%, rgba(70,104,220,1) 100%);
}

.social-media__circle {
    height: 2.5em;
    width: 2.5em;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 2px solid white;
    margin: 0.5em;
    position: relative;
    top: 1.5em;
}

.social-media__icon {
    color: white;
    font-size: 1.3em;
}

.social-media__link:hover {
    text-decoration: none;
    color: $primary;
}

#more-infos, #design-cpright {
    padding: 1em;
    font-size: 0.7em;
    color: seashell;
}

#more-infos {
    height: 6em;
    background-color: rgb(41, 43, 48);
}

.more-infos__link, .design-cpright__link {
    margin: 0.5em;
}

#design-cpright {
    height: 3em;
    background-color: rgb(21, 22, 24);
}


.more-infos__link:hover, .design-cpright__link:hover {
    text-decoration: none;
    color: seashell;
}



//Scroll up button

#scroll-up-btn {
    z-index: 30;
    height: 3em;
    width: 3em;
    background-color: $primary;
    position: fixed;
    bottom : 10px;
    right: -100px;
    opacity: 0.7;
    border-radius: 2px;
}

.scroll-up-btn__icon {
    color: seashell;
    font-size: 2em;
}