@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    
    #content {
        background-color: white;
        
    }
}

#header{
    background:url(../bck-ground-two.png);
    background-size: cover;
    height: 35vh;
}